@import "tailwindcss";

html,
body {
  font-family: "Montserrat", "Inter", sans-serif;

  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
  overflow-x: hidden;

  background-color: #111827;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  width: 100%;
}
